#loading{
    padding:15px;
    position: fixed;
    top:50%;
    left:50%;
    z-index:10;
    background-color:#FFF;
    background-image:url("../image/gif-load.gif");
    background-position: center top;
    background-repeat: no-repeat;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
    width:80px;
    height:80px;
}
